# Green Line

In [13]:
import pandas as pd

green_line_info = pd.read_csv('./TrackLayoutGreen.csv')
green_line_info

g_track_info = {}

In [14]:
import json
from sympy import Rational, N

green_track_info = {}

for index, block in green_line_info.iterrows():
    block_id = block['Block ID']
    green_track_info[block_id] = {
        'length': float(block['Length']), # m
        'grade': float(block['Grade']),  # %
        'speed_limit': float(block['Speed Limit']), # km/hr
        'elevation': float(block['Elevation']), # ?
        'traverse_time': float(N( float(block['Length']) / (float(block['Speed Limit']) * Rational(5, 18)))), # s
    }
    
g_track_info['green'] = green_track_info

# Red Line

In [16]:
import pandas as pd

red_line_info = pd.read_csv('./TrackLayoutRed.csv')
red_line_info

,Line,Section,Block ID,Length,Grade,Speed Limit,Infrastructure,Station Side,Elevation,Cumulative Elevation
0,Red,A,1,50.0,0.5,40,NaN,NaN,0.25,0.25
1,Red,A,2,50.0,1.0,40,NaN,NaN,0.50,0.75
2,Red,A,3,50.0,1.5,40,NaN,NaN,0.75,1.50
3,Red,B,4,50.0,2.0,40,NaN,NaN,1.00,2.50
4,Red,B,5,50.0,1.5,40,NaN,NaN,0.75,3.25
...,...,...,...,...,...,...,...,...,...,...
71,Red,R,72,50.0,0.0,55,UNDERGROUND,NaN,0.00,-1.24
72,Red,S,73,50.0,0.0,55,UNDERGROUND,NaN,0.00,-1.24
73,Red,S,74,50.0,0.0,55,UNDERGROUND,NaN,0.00,-1.24
74,Red,S,75,50.0,0.0,55,UNDERGROUND,NaN,0.00,-1.24
75,Red,T,76,50.0,0.0,55,UNDERGROUND,NaN,0.00,-1.24

In [25]:
import json
from sympy import Rational, N

red_track_info = {}

for index, block in red_line_info.iterrows():
    block_id = block['Block ID']
    red_track_info[block_id] = {
        'length': float(block['Length']), # m
        'grade': float(block['Grade']),  # %
        'speed_limit': float(block['Speed Limit']), # km/hr
        'elevation': float(block['Elevation']), # ?
        'traverse_time': float(N( float(block['Length']) / (float(block['Speed Limit']) * Rational(5, 18)))), # s
    }

def update_table(line, new_table):
    with open('../TrackModel-info.json', 'r') as input:
        current_table = json.load(input)

    current_table[line] = new_table

    with open('../TrackModel-info.json', 'w') as output:
        json.dump(current_table, output)
        
update_table('green', green_track_info)
update_table('red', red_track_info)